@font-face {
  font-family: Spiral;
  src: url(/Fonts/SpiralST.ttf);
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #d7d6d6;
}
main .title {
  font-family: Spiral;
  text-align: center;
  font-size: 55px;
  color: black;
  margin-bottom: 20px;
}
.main-game-container {
  display: flex;
  justify-content: center;
}
.inventory {
  width: 450px;
  height: 450px;
  padding: 20px;
  border: 1px solid #070404;
  background-color: yellowgreen;
}
.choices-container {
  display: flex;
  flex-direction: column;
}
.main-text {
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
  width: 1000px;
  height: 580px;
  padding: 20px;
  border: 1px solid #070404;
  background-color: #cfd59c;
  overflow: auto;
}
#choices {
  font-size: 35px;
  width: 1000px;
  height: 290px;
  padding: 10px 20px 20px 20px;
  overflow: hidden;
  border: 1px solid #070404;
  background-color: rgb(180, 181, 176);
}
.choice-button {
  text-align: start;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  transition: 0.15s;
  animation: buttonsAppear 1s;
}
@keyframes buttonsAppear {
  0% {
    height: 0px;
  }
  100% {
    height: 50px;
  }
}
.choice-button:hover {
  height: 70px;
  color: white;
  background-color: rgb(22, 72, 56);
  margin: 5px 0;
  transition: 0.15s;
  cursor: pointer;
}
.choice-button:active {
  background-color: rgb(52, 102, 86);
}
.character {
  width: 450px;
  height: 450px;
  padding: 20px;
  border: 1px solid #070404;
  background-color: rgb(52, 78, 53);
  overflow: hidden;
}
.character-container {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: start;
}
#portrait {
  width: auto;
  height: 300px;
}
.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(144, 158, 102, 0.98); /* White with some transparency */
  z-index: 9999;
}

.input-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
